.intro-message {
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #fff;
}
body {
	background: url(https://dl-web.dropbox.com/get/stuff%20for%20vince%27s%20class/IMG_8082%20bg.jpg?_subject_uid=3784764&w=AAB57sqbUWu-qRlZijKg-USZzmT116hAM96qZ0x2R2fnAA) no-repeat center center;
}
.signup-form {
	text-align: center;
	color: #fff;
}
.email
{color: #000;}
